{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = applicationName + " - Check pay rate" %}
{% set mainClasses = "govuk-body" %}
{% set backLinkHref = "./set-change-date" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">{{ payType.description }}</span>
            <h1 class="govuk-heading-l">Check and confirm the pay change</h1>        
            {{ govukSummaryList({
                  rows: [
                      {
                        key: { text: "Pay amount" },
                        value: { text: "£" + payAmount | float | toFixed(2) + " per day" },
                        actions: {
                          items: [{
                              href: "./pay-amount",
                              classes: 'govuk-link--no-visited-state',
                              text: "Change",
                              visuallyHiddenText: "pay amount"
                          }]
                        }
                      },
                      {
                        key: { text: "Date the change takes effect" },
                        value: { text: selectedDate | formatDate("EEEE, d MMMM yyyy") },
                        actions: {
                          items: [{
                              href: "./set-change-date",
                              classes: 'govuk-link--no-visited-state',
                              text: "Change",
                              visuallyHiddenText: "pay rate change date"
                          }]
                        }
                      }
                  ]
            }) }}
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                <div class="govuk-button-group">
                    {{ govukButton({
                        text: "Confirm pay change"
                    }) }}
                    <a class="govuk-link" href="../pay-overview">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
