{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = applicationName + " - check and confirm" %}
{% set mainClasses = "govuk-body" %}
{% set backLinkHref = "./end-date" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ payType.description }}</span>
      <h1 class="govuk-heading-l">Check and confirm details</h1>

      {{
        govukSummaryList({
            rows: [
                {
                    key: { text: "Who you're adding" },
                    value: { text: prisonerName },
                    actions: {
                        items: [{
                            href: "add-prisoner",
                            classes: 'govuk-link--no-visited-state',
                            text: "Change",
                            visuallyHiddenText: "change prisoner"
                        }]
                    }
                },
                {
                    key: { text: "Start date" },
                    value: { text: startDateText },
                    actions: { items: [{ href: "start-date", text: "Change", visuallyHiddenText: "start date" }] }
                },
                {
                    key: { text: "End Date" },
                    value: { text: endDateText },
                    actions: {
                        items: [{
                            href: "end-date",
                            classes: 'govuk-link--no-visited-state',
                            text: "Change",
                            visuallyHiddenText: "change end date"
                        }]
                    }
                }
            ]
        })
      }}

      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <div class="govuk-button-group">
          {{
            govukButton({
                text: "Confirm and add to " + payType.description | lower
            })
          }}
          <a class="govuk-link--no-visited-state" href="cancel">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
