{% extends "layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = applicationName + " - Add prisoner confirmation" %}
{% set mainClasses = "govuk-body" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: prisoner | formatName(NameFormatStyle.firstLast, false) + " will now be paid " + payType.description | lower + " pay"
            }) }}

            <h2 class="govuk-heading-m">What you can do next</h2>

            <p class="govuk-body">You can:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    {# TODO: Service link up to A+A #}
                    <a class="govuk-link" href="#">manage {{ prisoner | formatName(NameFormatStyle.firstLast, false) }}'s allocations</a>
                </li>
                <li>
                    <a class="govuk-link" href="../register/add-prisoner">add someone else to {{ payType.description | lower}}</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
