{% extends "layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = applicationName + " - Page name" %}
{% set mainClasses = "govuk-body" %}
{% set hardBackLinkHref = "/edit-pay" %}
{% set hardBackLinkText = "Back to edit pay options" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Edit pay settings</span>
      <h1 class="govuk-heading-l">Pay rates for people who are not in work</h1>

      <h2 class="govuk-heading-m govuk-!-margin-top-6">Pay for people who are sick, retired or out at hospital</h2>
      <p class="govuk-body">
        How much people are automatically paid if they're recorded as being sick, retired or out at hospital.
      </p>
      {% for type in payTypes %}
        {%
          set payActions = [
                          {
                              href: "../" + type.slug + "/change-pay-rate/pay-amount",
                              text: "Change",
                              visuallyHiddenText: "amount",
                              classes: "govuk-link govuk-link--no-visited-state"
                          }
          ]
        %}
        {% if type.scheduledRateId %}
          {%
            set payActions = payActions.concat([
                            {
                                href: "../" + type.slug + "/change-pay-rate/" + type.scheduledRateId + "/cancel-rate-change",
                                text: "Cancel",
                                visuallyHiddenText: "change",
                                classes: "govuk-link govuk-link--no-visited-state"
                            }
            ])
          %}
        {% endif %}
        {{
          govukSummaryList({
          card: {
              title: {
                  text: type.description
              }
          },
          rows: [
              {
                  key: {
                      text: "Pay"
                  },
                  value: {
                      html: (type.currentRate | currencyFromPence) + " per week"
                  },
                  actions: {
                      items: payActions
                  }
              },
              {
                  key: {
                      text: "People on " + type.description
                  },
                  value: {
                      text: type.numberOfPrisoners
                  },
                  actions: {
                      items: [
                          {
                              href: "../" + type.slug + "/pay-overview",
                              text: "View, add and remove people",
                              classes: "govuk-link govuk-link--no-visited-state"
                          }
                      ]
                  }
              }
          ]
          })
        }}
      {% endfor %}
    </div>
  </div>
{% endblock %}
